html {
  scroll-behavior: smooth;
}

.ctm-padding1{
	position:relative;
	padding-left:20px;
	padding-right:20px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/images/matrix.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-text{
	color:#e5e4e2;
}

.avatar-img{
	height:200px;
	width:200px;
}

.title-about{
	padding-bottom:40px;
	font-size:200%;
}

.bolder-text{
	font-size:125%;
	color:white;
}

.lineborder{
	padding-top:-20px;
	position:relative;
	background-color:black;
	color:gray;
	text-align:center;
	background-image:url('/images/lineborder.png');
	background-size:1250px 600px;
	background-repeat: no-repeat;
	background-position: center	;
	padding-bottom:100px;
	left:7px;
}

.lineborder-invert{
	position:relative;
	background-color:black;
	color:gray;
	text-align:center;
	background-image:url('/images/lineborder.png');
	background-size:1250px 600px;
	background-repeat: no-repeat;
	background-position: center	;
	padding-bottom:80px;
	padding-top:20px;
	transform: rotate(180deg);
	bottom:-10px;
}

.html-bg-dark{
	background-color:black;
}

.edu-icn{
	background-color:white;
	background-image: url('/images/education.png');
	background-size:120px 120px;
	background-repeat: no-repeat;
	background-position: center	;
}

.edu-icn-p{
	background-color:white;
	background-image: url('/images/schoolprimary.png');
	background-size:160px 160px;
	background-repeat: no-repeat;
	background-position: center	;
}

.arw-icn{
	background-image: url('/images/arrow.png');
	background-size:50px 50px;
	background-repeat: no-repeat;
	background-position: center	;
	transform: rotate(90deg);
}

.expertiselist-padding{
	padding-top:10px;
	padding-bottom:10px;
}

.icn-expertise-setting{
	display: block;
	width:100%;
	height:100%;
}

.image-100{
	width:50px;
	height:50px;
}

.image-105{
	width:50px;
	height:50px;
}

.overlay {
	position: absolute;
	vertical-align: middle;
	top: 0;
	bottom: 0;
	left: 0;
	right: -5px;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
}

.text-c{
	padding-top:20px;
	text-align: center;
	padding-bottom:20px;
	color:white;
}

.text-j{
	text-align: justify;
	color:white;
}

.con-oly:hover .overlay {
  opacity: 0.9;
}

div.ctm-border{
	width:300px;
	height:300px;
	border: 3px solid gray;
}

.ctm-border2{
	border: 3px solid gray !important;
}

.row{
	margin-right:0px !important;
}

.col-nav{
	left:15px;
	text-align:center;
	width:100px !important;
}

.align-l{
	text-align:left!important;
}

.ofc-icn{
	background-image: url('/images/office.png');
	background-size:95px 95px;
	background-repeat: no-repeat;
	background-position: center	;
}

h1 {
	color:white;
}

h3 {
	color:white;
}